*{
    margin: 0;
    padding: 0;
    font-family:serif
}

header{
    
    background-image: url(peja.jpg);
    height: 100vh;
    background-size: cover;
}

ul{
    float: right;
    display: flex;
}

ul li{
    list-style: none;
    display: inline;
    font-size: 30px;
    padding: 10px ;
}


ul li a{
    
    text-decoration: none;
    transition: 0.4s ease-in-out;
    padding: 5px 20px;
    color:aliceblue
}

ul li a:hover{
    
    color:black
}

.main{
   
    max-width: 1200px;
    margin: auto;
}

.btn{
    cursor: pointer;
    color: #cc0052;
    font-size: 18px;
    letter-spacing: 2px;
    padding: 10px ;
    border: 2px solid #003333;
    background: transparent;
    font-weight: bold;
    margin:8px 8px;
}

.btn:hover{
    background-color:#fff;
    color: #000;

} 

*{
    margin:0;
}
